<div class="container">
  {{!-- {{log property}} --}}
  {{#with property}}

    <form class="row row-cols-lg-auto g-3 align-items-center" action="/property/{{this._id}}" method="post" enctype="multipart/form-data">
      <div class="col-lg-3 col-md-6">
        <label for="referenceID" class="form-label"><span class="hint-text">ReferenceID*</span></label>
        <input type="text" class="form-control" id="referenceID" name="referenceID" value="{{referenceID}}" disabled readonly />
      </div>

      <div class="col-lg-3 col-md-6">
        <label for="propertyType" class="form-label"><span class="hint-text">Property type*</span></label>
        <input type="text" class="form-control" id="propertyType" name="propertyType" value="{{propertyType}}" disabled readonly />
      </div>

      <div class="col-lg-6">
        <label for="address"><span class="hint-text">Address</span></label>
        <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St" value="{{address}}" />
      </div>

      <div class="col-lg-12">
        <label for="description"><span class="hint-text">Description</span></label>
        <textarea type="text" class="form-control" name="description">{{description}}</textarea>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-4">
        <label for="sizeM2"><span class="hint-text">Size (m²)</span></label>
        <input type="number" class="form-control" name="sizeM2" min="0" placeholder="90" value="{{sizeM2}}" />
      </div>

      <div class="col-lg-2 col-md-4 col-sm-4">
        <label for="roomNumber"><span class="hint-text">Number of rooms</span></label>
        <input type="number" class="form-control" name="roomNumber" min="0" placeholder="3" value="{{roomNumber}}"/>
      </div>

      <div class="col-lg-2 col-md-4 col-sm-4">
        <label for="price"><span class="hint-text">Price</span></label>
        <input type="number" class="form-control" name="price" min="0" placeholder="0" value="{{price}}"/>
      </div>

      <div class="col-lg-6 col-md-12">
        <label for="gallery"><span class="hint-text">Gallery</span></label>
        <input type="file" class="form-control" name="gallery" accept="image/png, image/jpeg" {{#if gallery.[0]}}value="{{gallery.[0]}}" {{/if}}/>
      </div>

      <div class="col-lg-12 col-md-12">
        <label for="rented"><span class="hint-text">Rented</span></label>
        <div>
          <input type="checkbox" class="form-check-input my-2" id="rented" name="rented" value="true" {{#if rented}}checked{{/if}}/>
        </div>
      </div>

      {{! <label for="Owner">Owner</label><input type="text" name="Owner" /> }}
      {{! <label for="Tenant">Tenant</label><input type="text" name="Tenant" /> }}

      <div>
        <button type="submit" class="col btn btn-secondary border-dark bg-dark">Save</button>
      </div>

    </form>
  {{/with}}
</div>