<div class="container">
  <h1>Property List</h1>

  <div class="row row-cols-1 row-cols-md-2 g-2">
    {{#each properties}}
      <div class="col mx-auto">
        <div class="card h-100 text-start">
          {{#if gallery.[0]}}
            <img
              src="{{gallery.[0]}}"
              class="card-img-top"
              alt="{{referenceID}}"
            />
          {{/if}}
          <div class="card-body">
            <h5 class="fw-bold"><a
                href="/property/{{_id}}"
              >{{propertyType}}</a></h5>
            <p class="fs-6"><small>RefID. {{referenceID}}</small></p>
            <p class="card-text">{{description}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">{{#if rented}}Rented{{else}}Not Rented{{/if}}</small>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
</div>