<main class="w-100 m-auto">
  <div class="container p-4 text-start">
    <div class="row">
      <h4 class="fw-bold">Tenants</h4>
    </div>
    <div class="row w-100 p-3 m-auto border shadow-sm rounded bg-white bg-opacity-75">
      <div class="text-center my-3">
        <a href="/tenant/create" class="btn btn-secondary bg-dark">Add new
          tenant</a>
      </div>
      {{! email,firstName,lastName,pictureProfile,phone,idcard }}
      {{#if tenants}}
      {{#each tenants}}
      <div class="col-lg-3 col-md-3 my-3 g-3 m-auto">
        <div class="card h-100 text-start">
          {{#if pictureProfile}}
          <a href="/tenant/{{_id}}">
            <img src="/uploads/{{pictureProfile}}" class="card-img-top"
              alt="{{firstName}} {{lastName}} Profile Picture" />
            {{/if}}
            <div class="card-body">
              <h5 class="fw-bold">{{firstName}}
                {{lastName}}
          </a></h5>
          <p class="hint-text">{{email}}</p>
          {{!-- {{#each property}}
          <p class="hint-text">{{_id}}</p>
          {{/each}} --}}
        </div>
        {{!-- <div class="card-footer">
          <small class="text-muted">{{#if rented}}Rented{{else}}Not Rented{{/if}}</small>
        </div> --}}
      </div>
    </div>
    {{/each}}
    {{else}}
    <h4 class="p-5 text-center text-muted">You don't have any tenant.</h4>
    {{/if}}
  </div>
  </div>
</main>