<main class="w-100 m-auto">
  <div class="container p-4 text-start">
    <h4 class="fw-bold">Incidents</h4>
    <div class="row w-100 p-3 m-auto border shadow-sm rounded bg-white">
      {{#if incidents}}
        <div class="col mx-auto">
          <div class="card h-100 text-start">
            {{#each incidents}}
              <div class="card-body">
                <h5 class="fw-bold"><a
                    href="/incident/{{_id}}"
                  >{{subject}}</a></h5>
                <p class="card-text">{{description}}</p>
                <p class="card-text">{{status}}</p>
              </div>
            {{/each}}
          </div>
        </div>
      {{else}}
        <h4 class="fw-bold p-5 text-center"> There are any incidents.</h4>
      {{/if}}
    </div>
  </div>
</main>