<main class="w-100 m-auto">
  <div class="container p-4 text-start">
      {{#if userInSession.firstName}}
        <h4 class="fw-bold">{{userInSession.firstName}}
          {{userInSession.lastName}}'s profile details</h4>
      {{else}}
        <h4 class="fw-bold">{{userInSession.username}}'s profile details</h4>
      {{/if}}
    <div
      class="container p-4 border shadow-sm rounded bg-white m-auto text-start"
    >

      <form
        class="row row-cols-lg-auto g-3 align-items-center"
        action="/userProfile/edit"
        method="post"
      >
        <div class="col-lg-2">
          <label>
            <span class="hint-text">First Name*</span>
          </label>
          <input
            type="text"
            class="form-control"
            name="firstName"
            value="{{userInSession.firstName}}"
            placeholder="First name"
            required
          />
        </div>

        <div class="col-lg-2">
          <label class="hint-text">
            <span>Last Name*</span>
          </label>

          <input
            type="text"
            class="form-control"
            name="lastName"
            value="{{userInSession.lastName}}"
            placeholder="Last name"
            required
          />
        </div>

        <div class="col-lg-5">
          <label class="hint-text">
            <span>Email*</span>
          </label>
          <input
            type="email"
            class="form-control text-muted"
            name="email"
            value="{{userInSession.username}}"
            placeholder="Email"
            disabled
            readonly
          />
        </div>

        <div class="col-lg-3">
          <label class="hint-text">
            <span>Password*</span>
          </label>

          <input
            type="password"
            class="form-control"
            name="password"
            value="{{userInSession.password}}"
            placeholder="Password"
            disabled
            required
          />
        </div>

        <div class="col-lg-2">
          <label class="hint-text">
            <span>Phone number</span>
          </label>

          <input
            type="phone"
            class="form-control mb-3"
            name="phone"
            value="{{userInSession.phone}}"
            placeholder="Phone number"
          />
        </div>

        <div class="col-lg-5">
          <label class="hint-text">
            <span>Street</span>
          </label>

          <input
            type="text"
            class="form-control mb-3"
            name="address"
            value="{{userInSession.address.street}}"
            placeholder="Address"
          />
        </div>

        <div class="col-lg-2">
          <label class="hint-text">
            <span>Zip code</span>
          </label>

          <input
            type="text"
            class="form-control mb-3"
            name="address"
            value="{{userInSession.address.zipCode}}"
            placeholder="Zip code"
          />
        </div>

        <div class="col-lg-3">
          <label class="hint-text">
            <span>City</span>
          </label>

          <input
            type="text"
            class="form-control mb-3"
            name="address"
            value="{{userInSession.address.city}}"
            placeholder="City"
          />
        </div>
<div>
        <button
          class="btn btn-secondary bg-dark"
          type="submit"
        >Update</button>
</div>

      </form>

    </div>
  </div>

</main>