<main class="w-100 m-auto">
  {{#if userInSession}}
    {{#if userInSession.firstName}}

      <div class="input-group">

        <span class="input-group-text">Name</span>
        <span class="form-control text-start">{{userInSession.firstName}}
          {{userInSession.lastName}}</span>
      </div>
    {{else}}
      <h4>{{userInSession.username}}</h4>
    {{/if}}

    <p>Address: {{userInSession.address}}</p>
    <p>Phone: {{userInSession.phone}}</p>

    <button class="btn fw-bold border-dark bg-white mt-5">
      <a href="/auth/userProfile/edit">Update your profile</a>
    </button>

  {{else}}
    <p>Still no logged in user, sorry!</p>
  {{/if}}
</main>